<div class="prepend-3 span-24 append-4 last">
          <center> 
	          myk.is is created by <%=link_to "Ronde Venture","http://www.rondeventure.com"%>
        
	        </center>

	        </div>
